Bienvenue a toi jeune cir !!!
liste de la table :
<table style="width:100%">
    <tr>
    {% for instance in data %}
    <tr>
        <th>{{ instance.nom }}</th>
        <th>{{ instance.prenom }}</th>
        <th><a href="list/{{ instance.id }}">détails</a></th>
    </tr>
    {% endfor %}
</table>

<a href="http://127.0.0.1:8000/admin/internaute"> Créer </a>
