Bienvenue a toi jeune cir !!!
<head>  
    {% block stylesheets %}
        <link href="{{ asset('styleTest6.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
</head>
<h1>Test</h1>
<ul>
    {% for instance in tabTest %}
        <li>{{ instance.libelle }}</li>
        <li>{{ instance.value }}</li>
        <li>{{ instance.nb }}</li>
    {% endfor %}
</ul>
